
	<%if current_user%>
		<%if (@evento.iduser == current_user.id && @evento.date_modify >= Date.today) || current_user.Admi == true%>
			<a href="/event/edit/<%=@evento.id%>">Editar</a><br>
		<%end%>

	<%end%>

<h1><%=@evento.name%> </h1> <br>
<h4><%=@evento.tipo%> </h4> 

<h4>Lugar: <%=@evento.direction%> </h4>

Descripcion<br>
<table>
<tr><td> <%=@evento.description%></td></tr>
</table>

